.search-bar {
    display: flex;
    width: 500px;
    height: 25px;
    border: 2px solid lightgrey;
    border-radius: 20px;
    padding: 5px;
}

#search-icon {
    padding: 5px;
}

input {
    border-style: none;
    margin-right: 10px;
    width: 100%;
}

.search-buttons button {
    border-style: none;
    border-radius: 4px;
    background-color: whitesmoke;
    padding: 10px 20px;
}